# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.Rbuildignore
*.pper
.Rproj.user/96C1A5ED/sdb/s-6350D4D/lock_file
.Rproj.user/96C1A5ED/cpp-definition-cache
.Rproj.user/96C1A5ED/persistent-state
.Rproj.user/96C1A5ED/saved_source_markers
.Rproj.user/96C1A5ED/sdb/prop/3E41F81A
*.Rhistory
.Rproj.user/96C1A5ED/sdb/prop/7A46C8B9
.Rproj.user/96C1A5ED/sdb/per/t/18D44665
.Rproj.user/96C1A5ED/sdb/prop/B68327BA
F-F_Momentum_Factor
F-F_Research_Data_5_Factors_2x3
temp/F-F_Momentum_Factor.TXT
temp/F-F_Research_Data_5_Factors_2x3.txt
